* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

select {
  cursor: pointer;
  font-family: inherit;
}
